body {
    padding-top: 70px;
    background-color: rgb(255, 255, 255);
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}